html {
display: flex;
margin: 0px;
}

img {
    max-width: 100%;
    height: auto;
}

.bloco {
width: 300px;
height: 300px;
}

.categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
   
}

h1 {
font-family: 'Fantasy', 'Arial', sans-serif;
text-transform: uppercase;
font-weight: bold;
} 

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

.BlocoShow {
display: flex;

gap: 30px;
background-color: rgb(255, 255, 235);
}
.video {

}